<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bapoto.bapoto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bapotovtc"
        tools:ignore="DataExtractionRules">
        <activity
            android:name="com.bapoto.vtc.ui.user.AllRideUserActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.ui.admin.SignInAdminActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.ui.user.UsersActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.ui.admin.ChatAdminActivity"
            android:exported="false"
            android:parentActivityName="com.bapoto.vtc.ui.admin.MainAdminActivity" />
        <activity
            android:name="com.bapoto.vtc.ui.admin.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.adapters.RecentConversationsAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.bapoto.vtc.ui.admin.PassWordAdminActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.ui.admin.SignUpAdminActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.ui.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.ui.user.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bapoto.vtc.ui.user.SignInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bapoto.vtc.ui.user.SuccessReservationActivity"
            android:exported="false" />
        <activity
            android:name="com.bapoto.vtc.ui.user.SummaryActivity"
            android:parentActivityName="com.bapoto.vtc.ui.user.ReservationActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Bapotovtc.NoActionBar" />
        <activity
            android:name="com.bapoto.vtc.ui.user.ChatActivity"
            android:parentActivityName="com.bapoto.vtc.ui.user.MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.bapoto.vtc.ui.user.ReservationActivity"
            android:label="@string/toolbar_title_reservation_activity"
            android:parentActivityName="com.bapoto.vtc.ui.user.MainActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.bapoto.vtc.ui.user.ProfileActivity"
            android:label="@string/toolbar_title_login_activity"
            android:parentActivityName="com.bapoto.vtc.ui.user.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Bapotovtc.NoActionBar" />
        <activity
            android:name="com.bapoto.vtc.ui.user.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Bapotovtc.NoActionBar" />

        <service
            android:name="com.bapoto.vtc.firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeIMI4poUlq820kUbhLK7MvVQ02O3BR-Y" />
    </application>

</manifest>